input {
  height: 40px;
  padding: 0px;
  font-size: 30px;
  margin: 5px 0;
}
input::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: rgb(201, 201, 201)
  }